{% extends 'default/layout.html.twig' %}

{% block title %}TD Travel Client Database{% endblock %}

{% block body %}
<div class="uk-cover-container uk-height-large">
    <img src="{{ asset('build/images/bg.jpg') }}" alt="TD Background" uk-cover>
</div>
{% endblock %}
